.contenedor-recuadro{
    margin-top: 150px;
}
.mb{
    margin: 10px;
    width: 80%;
    text-align: center;
}
.mb label{
    margin-bottom: 15px;
    width: 100%;
}
.boton-registro{
    width: 50%;
    margin-top: 10px;
}
.text-danger{
    color: red;
    width: 1.5rem;
    width: 100%;
    text-align: center;
}

.datos-enviados{
    color: rgb(9, 129, 9);
}
.form-register{
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}